@tailwind base;
@tailwind components;
@tailwind utilities;

:root.light {
  --bg-color: #ffffff;
  --highlight-text-color: #fd6f00;
  --primary-text-color: #000000;
  --secondary-text-color: #4f4f4f;
}
:root.dark {
  --bg-color: #121212;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div[id] {
  scroll-margin-top: 60px;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-color);
}
.highlight-text {
  --tw-text-opacity: 1;
  color: rgb(253 111 0 / var(--tw-text-opacity));
}
.header-text {
  color: var(--secondary-text-color);
  font-size: 1.2em;
}
.margin {
  margin: 2em 15em 0vw 15em;
}
