@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../public/assets/images/home.png");
}
